.top {
  color: white;
  font-weight: bold;
}

header {
  background-image: linear-gradient(to right, #0a58ca, #052c65);
}

.btnColor {
  background-color: #1c58b3;
  color: white;
}

.customTitle {
  font-weight: bold;
}

.inputBorder {
  border-color: lightgray;
}

.noDots {
  list-style: none;
}

.uvNumber {
  border-radius: 10px;
  background-color: green;
}

.uvNumber2 {
  border-radius: 10px;
  background-color: yellow;
}

.uvNumber3 {
  border-radius: 10px;
  background-color: orange;
}

.uvNumber4 {
  border-radius: 10px;
  background-color: red;
}
