.top {
  color: white;
  font-weight: bold;
}

header {
  background-image: linear-gradient(to right, #0a58ca, #052c65);
}
.searchTitle {
  font-weight: bold;
}

.inputBorder {
  border-color: lightgray;
}
